openapi: 3.0.3
info:
  title: hakuna Time Tracking API
  description: >-
    The hakuna REST API provides programmatic access to the hakuna time-tracking
    and personnel-management platform: the running timer, time entries, absences,
    projects, tasks, clients, users, and account-wide company settings. Personal
    endpoints act in the context of the authenticated user; management endpoints
    require an admin token and the organization endpoint requires an
    organization-level token. All requests and responses are JSON. Generated by
    the API Evangelist enrichment pipeline from the published API documentation;
    not an official hakuna machine-readable specification.
  version: v1
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://app.hakuna.ch/api_docs
  contact:
    name: hakuna Support
    url: https://www.hakuna.ch/kontakt
  termsOfService: https://www.hakuna.ch/rechtliches/agb
servers:
  - url: https://app.hakuna.ch/api/v1
    description: Production
security:
  - AuthToken: []
tags:
  - name: Overview
    description: Aggregate metrics for the authenticated user
  - name: Timer
    description: The single running timer for the authenticated user
  - name: Time Entries
    description: Recorded blocks of worked time
  - name: Absences
    description: Absence records and absence categories
  - name: Users
    description: Users of the account
  - name: Tasks
    description: Categorization tasks
  - name: Projects
    description: Active and archived projects
  - name: Company
    description: Account-wide settings
  - name: Organization
    description: Organization-wide presence and absence status
  - name: Management
    description: Admin-only management of projects, clients and tasks
paths:
  /overview:
    get:
      operationId: getOverview
      summary: Get overview metrics
      description: Retrieve key metrics for the authenticated user, such as overtime and vacation balances.
      tags: [Overview]
      responses:
        '200':
          description: Overview metrics
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Overview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /timer:
    get:
      operationId: getTimer
      summary: Get the running timer
      description: Retrieve the currently running timer for the authenticated user, if any.
      tags: [Timer]
      responses:
        '200':
          description: The running timer
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timer' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: startTimer
      summary: Start the timer
      description: Start a new timer for the authenticated user.
      tags: [Timer]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TimerInput' }
      responses:
        '201':
          description: Timer started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timer' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      operationId: updateTimer
      summary: Update the running timer
      description: Update attributes of the currently running timer.
      tags: [Timer]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TimerInput' }
      responses:
        '200':
          description: Timer updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timer' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: stopTimer
      summary: Stop the timer
      description: Stop the currently running timer, converting it into a time entry.
      tags: [Timer]
      responses:
        '200':
          description: Timer stopped
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /time_entries:
    get:
      operationId: listTimeEntries
      summary: List time entries
      description: List recorded time entries for the authenticated user.
      tags: [Time Entries]
      responses:
        '200':
          description: A list of time entries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TimeEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createTimeEntry
      summary: Create a time entry
      description: Create a new recorded block of worked time.
      tags: [Time Entries]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TimeEntryInput' }
      responses:
        '201':
          description: Time entry created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimeEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /time_entries/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getTimeEntry
      summary: Get a time entry
      tags: [Time Entries]
      responses:
        '200':
          description: The time entry
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimeEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    patch:
      operationId: updateTimeEntry
      summary: Update a time entry
      tags: [Time Entries]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TimeEntryInput' }
      responses:
        '200':
          description: Time entry updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimeEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteTimeEntry
      summary: Delete a time entry
      tags: [Time Entries]
      responses:
        '204':
          description: Time entry deleted
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /absences:
    get:
      operationId: listAbsences
      summary: List absences
      description: List absences for the authenticated user, filtered by year.
      tags: [Absences]
      parameters:
        - name: year
          in: query
          required: false
          schema: { type: integer, example: 2026 }
          description: The calendar year to list absences for.
      responses:
        '200':
          description: A list of absences
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Absence' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /absence_types:
    get:
      operationId: listAbsenceTypes
      summary: List absence types
      description: List the absence categories configured for the account.
      tags: [Absences]
      responses:
        '200':
          description: A list of absence types
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AbsenceType' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /users:
    get:
      operationId: listUsers
      summary: List users
      tags: [Users]
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /users/me:
    get:
      operationId: getCurrentUser
      summary: Get the authenticated user
      tags: [Users]
      responses:
        '200':
          description: The authenticated user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /tasks:
    get:
      operationId: listTasks
      summary: List tasks
      description: List categorization tasks available to the authenticated user.
      tags: [Tasks]
      responses:
        '200':
          description: A list of tasks
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /projects:
    get:
      operationId: listProjects
      summary: List projects
      description: List active and archived projects.
      tags: [Projects]
      responses:
        '200':
          description: A list of projects
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /company:
    get:
      operationId: getCompany
      summary: Get company settings
      description: Fetch account-wide company settings.
      tags: [Company]
      responses:
        '200':
          description: Company settings
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Company' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /organization/status:
    get:
      operationId: getOrganizationStatus
      summary: Get organization status
      description: >-
        Retrieve the presence and absence status for all users in the
        organization. Requires an organization-level token.
      tags: [Organization]
      responses:
        '200':
          description: Organization presence status
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/OrganizationStatus' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /management/projects:
    get:
      operationId: listManagedProjects
      summary: List managed projects
      tags: [Management]
      responses:
        '200':
          description: A list of projects
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createManagedProject
      summary: Create a project
      tags: [Management]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectInput' }
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /management/projects/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getManagedProject
      summary: Get a project
      tags: [Management]
      responses:
        '200':
          description: The project
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    patch:
      operationId: updateManagedProject
      summary: Update a project
      tags: [Management]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectInput' }
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteManagedProject
      summary: Delete a project
      tags: [Management]
      responses:
        '204':
          description: Project deleted
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /management/clients:
    get:
      operationId: listManagedClients
      summary: List managed clients
      tags: [Management]
      responses:
        '200':
          description: A list of clients
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Client' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createManagedClient
      summary: Create a client
      tags: [Management]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientInput' }
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /management/clients/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getManagedClient
      summary: Get a client
      tags: [Management]
      responses:
        '200':
          description: The client
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    patch:
      operationId: updateManagedClient
      summary: Update a client
      tags: [Management]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientInput' }
      responses:
        '200':
          description: Client updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteManagedClient
      summary: Delete a client
      tags: [Management]
      responses:
        '204':
          description: Client deleted
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /management/tasks:
    get:
      operationId: listManagedTasks
      summary: List managed tasks
      tags: [Management]
      responses:
        '200':
          description: A list of tasks
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createManagedTask
      summary: Create a task
      tags: [Management]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskInput' }
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /management/tasks/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getManagedTask
      summary: Get a task
      tags: [Management]
      responses:
        '200':
          description: The task
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    patch:
      operationId: updateManagedTask
      summary: Update a task
      tags: [Management]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskInput' }
      responses:
        '200':
          description: Task updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteManagedTask
      summary: Delete a task
      tags: [Management]
      responses:
        '204':
          description: Task deleted
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: >-
        Personal API token managed under "My Settings". Organization endpoints
        require a separate organization-level token; management endpoints require
        an admin token.
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: The unique identifier of the resource.
  responses:
    Unauthorized:
      description: The auth token is missing or invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UnprocessableEntity:
      description: The request payload failed validation.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Too many requests. Limited to 100 requests per minute per customer.
      headers:
        X-RateLimit-Limit:
          schema: { type: integer }
          description: Maximum requests allowed in the window.
        X-RateLimit-Remaining:
          schema: { type: integer }
          description: Requests remaining in the current window.
        X-RateLimit-Reset:
          schema: { type: integer }
          description: Seconds until the window resets.
        Retry-After:
          schema: { type: integer }
          description: Seconds to wait before retrying.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      description: JSON error object with a descriptive message.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
    Overview:
      type: object
      description: Aggregate metrics for the authenticated user.
      properties:
        overtime:
          type: string
          description: Current overtime balance, formatted as a duration.
        vacation:
          type: object
          description: Vacation balances.
          properties:
            remaining: { type: number }
            total: { type: number }
    Timer:
      type: object
      description: The running timer for a user.
      properties:
        start_time: { type: string, format: date-time }
        duration: { type: string }
        task: { $ref: '#/components/schemas/Task' }
        project: { $ref: '#/components/schemas/Project' }
        note: { type: string }
    TimerInput:
      type: object
      properties:
        start_time: { type: string, format: date-time }
        task_id: { type: string }
        project_id: { type: string }
        note: { type: string }
    TimeEntry:
      type: object
      description: A recorded block of worked time.
      properties:
        id: { type: string }
        date: { type: string, format: date }
        start_time: { type: string, format: date-time }
        end_time: { type: string, format: date-time }
        duration: { type: string }
        note: { type: string }
        task: { $ref: '#/components/schemas/Task' }
        project: { $ref: '#/components/schemas/Project' }
        user: { $ref: '#/components/schemas/User' }
    TimeEntryInput:
      type: object
      properties:
        date: { type: string, format: date }
        start_time: { type: string, format: date-time }
        end_time: { type: string, format: date-time }
        task_id: { type: string }
        project_id: { type: string }
        note: { type: string }
    Absence:
      type: object
      description: An absence record for a user.
      properties:
        id: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        days: { type: number }
        absence_type: { $ref: '#/components/schemas/AbsenceType' }
        user: { $ref: '#/components/schemas/User' }
    AbsenceType:
      type: object
      description: A category of absence configured for the account.
      properties:
        id: { type: string }
        name: { type: string }
    User:
      type: object
      description: A user of the account.
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string, format: email }
        role: { type: string }
    Task:
      type: object
      description: A categorization task.
      properties:
        id: { type: string }
        name: { type: string }
        archived: { type: boolean }
    Project:
      type: object
      description: A project that time can be tracked against.
      properties:
        id: { type: string }
        name: { type: string }
        archived: { type: boolean }
        client: { $ref: '#/components/schemas/Client' }
    ProjectInput:
      type: object
      required: [name]
      properties:
        name: { type: string }
        client_id: { type: string }
        archived: { type: boolean }
    Client:
      type: object
      description: A client that projects belong to.
      properties:
        id: { type: string }
        name: { type: string }
        archived: { type: boolean }
    ClientInput:
      type: object
      required: [name]
      properties:
        name: { type: string }
        archived: { type: boolean }
    TaskInput:
      type: object
      required: [name]
      properties:
        name: { type: string }
        archived: { type: boolean }
    Company:
      type: object
      description: Account-wide company settings.
      properties:
        id: { type: string }
        name: { type: string }
        timezone: { type: string }
    OrganizationStatus:
      type: object
      description: Presence/absence status for a user.
      properties:
        user: { $ref: '#/components/schemas/User' }
        status: { type: string, description: "e.g. present, absent" }
        since: { type: string, format: date-time }
